<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:name=".ManualDemoApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="Manual Demo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialPreferences">
        <activity
            android:name=".ManualDemoActivity"
            android:exported="true"
            android:label="Manual Demo"
            android:theme="@style/Theme.MaterialPreferences">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>